*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.container {
  width: 100%;
  height: auto; /* Alterando para altura automática */
  padding: 0 0.9375rem; /* Mantendo o preenchimento lateral */
}
.container nav {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}

nav .logo{
  display: flex;
  align-items: center;
}

nav .logo i{
  color: #79bccf;
  font-size: 28px;
}

nav .logo h1{
  color: #444;
  font-size: 28px;
}

nav ul li{
  display: inline-block;
  margin-left: 50px;
  height: 80px;
  position: relative;
  line-height: 80px;
  cursor: pointer;
}
nav ul li::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  background: #79bccf;
  width: 0%;
  height: 3px;
  transition: 0.3s;
}

nav ul li:hover::after,
nav ul li.active::after{
  width: 100%;
}

nav ul li a{
  color: #444;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.9375rem;
  transition: 0.3s;
}

nav ul li a:hover,
nav ul li.active a{
  color: #79bccf;
}

.contanier nav {
  position: fixed; /* Adicionando posição fixa */
  top: 0; /* Fixando a barra no topo */
  width: 100%;
  background-color: #ffffff9a; /* Adicionando um fundo cinza para a barra */
  z-index: 1000; /* Definindo um índice z alto para garantir que a barra esteja sempre acima de outros elementos */
}

.contanier .content {
  margin-top: -40px;
}

.contanier .content{
  width: 100%;
  height: calc(100vh - 5.9375rem);
  background: linear-gradient(130deg, #c4e1f8, #eeb0bd);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 5%;
}

.content .div-text span{
  color: #fff;
  font-size: 1.5625rem;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: bold;
}

.content .div-text h3{
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 3.125rem;
  font-weight: normal;
  margin: 1.25rem 0 .5rem;
  color: #444;
}

.content .div-text h1{
  font-size: 3.4375rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  color: #444;
  margin-bottom: 1.5625rem;
}
.content .div-text p{
  color: #666;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 1.3px;
  margin-bottom: 55px;
}
.content .div-text .btn{
  padding: 15px 35px;
  background-color: #fff;
  color: #79bccf;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}
.content .div-text .btn:hover{
  color: #fff;
  background-color: #79bccf;
}

.content .div-img img{
  width: 15.625rem;
}

.content .small-img{
  position: absolute;
  left: 50%;
  bottom: 7.375rem;
  transform: translateX(-50%);
  display: flex;
  gap: 4.375rem;
}
.content .small-img img{
  width: 6.25rem;
  cursor: pointer;
  transition: 0.4s;
}
.content .small-img img:hover{
  transform: scale(1.2);
}
/* about */
.about {
  margin-top: 0;
  margin-bottom: -40px;
  padding: 60px 5% 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.about-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-text {
  width: 50%;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.about-image {
  width: 35%;
  height: 15%; /* Define a largura da imagem */
  display: flex;
  justify-content: right;
  align-items: center;
  padding-left: 20px;

   /* Centraliza a imagem horizontalmente */
}

.about-image img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  border-radius: 20px;
  margin: 10px;
  border: 2px;
  box-shadow: 0 0 10px rgb(2, 196, 255);
}

/* Remova as regras abaixo se não estiverem sendo usadas */
.about .div-img,
.about .small-img {
  position: absolute;
  bottom: 7.375rem;
}

.about .small-img {
  left: 50%;
  transform: translateX(-50%);
}

.about .div-text {
  margin-bottom:  8.375rem;
  z-index: 1;
}

.about .div-text span {
  font-size: 1.5625rem;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-weight: bold;
}

.about .div-text h3 {
  text-transform: uppercase;
  letter-spacing: 1.8px;
  font-size: 3.125rem;
  font-weight: normal;
  margin: 1.25rem 0 .5rem;
  color: #444;
}

.about .div-text h1 {
  font-size: 3.4375rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  color: #444;
  margin-bottom: 1rem;

}

.about .div-text p {
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 1.3px;
  margin-bottom: 55px;
}

.about .div-text .btn {
  padding: 15px 35px;
  background-color: #fff;
  color: #79bccf;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
  border-radius: 30px;
  transition: 0.3s;
}

.about .div-text .btn:hover {
  color: #fff;
  background-color: #79bccf;
}

.about .div-img img {
  width: 15rem;
}

.about .small-img {
  position: absolute;
  left: 50%;
  bottom: 7.375rem;
  transform: translateX(-50%);
  display: flex;
  gap: 4.375rem;
}

.about .small-img img {
  width: 6.25rem;
  cursor: pointer;
  transition: 0.4s;
}

.about .small-img img:hover {
  transform: scale(1.2);
}
/* Section Service */
.grid-list > li {
  list-style: none;
}

.section-subtitle {
  color: #eeb0bd;
  font-size: 45px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 80px;
}

.h2section-title {
  color:  #79bccf;
  font-size: 36px;
  font-weight: bold;
  margin-bottom: -2px;
  text-align: center;

}

.sectionservice .service-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 20px #ffb6c1;
  margin: 1.25rem;
  padding: 1.875rem;
  list-style: none;
  text-align: center;

}

.sectionservice .card-icon {
  color: #ffb6c1;
  font-size: 3rem;
  margin-bottom: 20px;
}

.sectionservice .card-title {
  color: #333;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.sectionservice .card-text {
  color: #666;
  font-size: 1rem;
  margin-bottom: 20px;
}

.sectionservice .btn-text {
  background-color: #ffb6c1;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sectionservice .btn-text:hover {
  background-color: #ff9aa2;
}
.card-icon {
  color: #ffb6c1;
  font-size: 36px;
  margin-bottom: 20px;
}

.card-title {
  color: #333;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card-text {
  color: #666;
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-text {
  background-color: #ffb6c1;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn-text:hover {
  background-color: #ff9aa2;
}

.contact {
  background-color: #fff;
  padding: 50px 0;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  color: #ff9aa2;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-item {
  margin: 0 20px;
  text-align: center;
}

.contact-item i {
  font-size: 24px;
  margin-bottom: 10px;
  color:  #79bccf;
}

.contact-item p {
  font-size: 16px;
  color: rgb(0, 0, 0);
}
footer {
  background: linear-gradient(130deg, #c4e1f8, #eeb0bd);
  padding: 20px 0;
  text-align: center;
  color: rgb(153, 1, 255);
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
}

/* responsividade */
@media screen and (max-width: 768px) {
  .content > .div-text > h3 {
    margin-top: 20%;
  }
}
/* exclusão das imagens para mobile */
@media screen and (max-width: 991px) {
  img#big-img{
    max-width: 0%;
  }

  .small-img > img{
    max-width: 0%;
  }

  .content > .div-text > h3 {
    margin-top: 25%;
  }
}



