body{
    margin: 0;
    font-family: "Noto Sans" , sans-serif;
}

body * {
    box-sizing: border-box;
}

.main-login,
.main-cadastro{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(130deg, #c4e1f8, #eeb0bd);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

    .left-login > h1,
    .left-cadastro > h1 {
        font-size: 3vw;
        color: rgba(143, 46, 255, 0);
    }

.left-login-image{
    width: 30vw;
}

.cadastro{
    text-decoration: none;
    color: rgba(123, 0, 247, 0.137);
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #4901fd27;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #03e8f813;
}

    .card-login > h1,
    .card-cadastro > h1 {
        color: #0099ff69;
        opacity: inherit;
        font-weight: 800;
        margin: 0;
    }

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #b88df0;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #32cfeb56;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: #f0ffff94;
}

.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px ;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffffb4;
    background: #bf28ec56;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #9dd6ba52;
}

.btn-login:hover {
    background: #827af3;
    transition: 0.5s;
}

nav {position: absolute; right: 50px; justify-content: right; bottom: 0px;}
nav a {text-decoration: none; color : #90ee90;}

.left-cadastro{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-cadastro-image{
    width: 35vw;
}

.right-cadastro{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cadastro{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: rgba(0, 45, 247, 0.137);
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}

.textfield > input{
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #46d7eb2f;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: 0px 10px 40px #00000056;
    outline: none;
    box-sizing: border-box;
}

.btn-cadastro{
    width: 100%;
    padding: 16px 0px;
    margin: 25px;
    border: none;
    border-radius: 8px ;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #ffffff;
    background: #2765c279;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}
.btn-cadastro:hover{
    background-color: #2765c2;
    transition: 0.5s;
    cursor: pointer;

}
.cadastro{
 color: white;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
   .main-login{
    flex-direction: column;
   }
   .left-login > h1 {
    display: none;
   }
   .left-login{
    width: 100%;
    height: auto;
   }
   .right-login{
    width: 100%;
    height: auto;
   }
   .left-login-image{
    width: 50px;
   }
   .card-login{
    width: 50%;
   }
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}

@media only screen and (max-width: 600px){
   .main-cadastro{
    flex-direction: column;
   }
   .left-cadastro > h1 {
    display: none;
   }
   .left-cadastro{
    width: 100%;
    height: auto;
   }
   .right-cadastro{
    width: 100%;
    height: auto;
   }
   .left-cadastro-image{
    width: 50px;
   }
   .card-cadastro{
    width: 50%;
   }
}